@model Aplicacion_de_asp.Models.producto_compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>producto_compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compra.id)
        </dt>

        <dd>
            @Aplicacion_de_asp.Controllers.ProductoCompraController.NombreCompra(Model.id_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Aplicacion_de_asp.Controllers.ProductoCompraController.NombreProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
