<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/custom.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Software Inventario", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Sin llave foranea
                            <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
                           
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Usuario Crud", "Index", "Usuario")</li>
                            <li>@Html.ActionLink("Cliente Crud", "Index", "Cliente")</li>
                            <li>@Html.ActionLink("Roles Crud", "Index", "Roles") </li>
                            <li>@Html.ActionLink("Proveedor Crud", "Index", "Proveedor") </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Con llave foranea
                            <span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span>

                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ProductoCompra Crud", "Index", "ProductoCompra")</li>
                            <li>@Html.ActionLink("ProductoImagen Crud", "Index", "ProductoImagen")</li>
                            <li>@Html.ActionLink("Producto Crud", "Index", "Producto")</li>
                            <li>@Html.ActionLink("Compra Crud", "Index", "Compra") </li>
                            <li>@Html.ActionLink("Proveedor Crud", "Index", "Proveedor") </li>
                            <li>@Html.ActionLink("UsuarioRol Crud", "Index", "UsuarioRol") </li>

                        </ul>

                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Cerrar Sesion", "CloseSession", "Usuario")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dev by: Jhojan Stiwer </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>